<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            {% block body %}{% endblock %}
        </div>

         <script
                src="https://code.jquery.com/jquery-2.2.4.min.js"
                integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
                crossorigin="anonymous"></script>


        <script>

                    var $collectionHolder;
                    var $addNewItem = $('<a href="#" class="btn btn-warning">Add new item</a>');




                    $addNewItem.click(function(){
                          console.log('TESTESTETESTEETETEETETTE')
                        //e.preventDefault();
                        //addNewForm();
                    })


                    $(document).ready(function () {
                        $collectionHolder = $('#coluna_list');
                        $collectionHolder.find('.panel').each(function () {
                            addRemoveButton($(this));
                            addColumn($(this));
                        });


                    });



                    function addRemoveButton ($panel) {
                        var $removeButton = $('<a href="#" class="btn btn-danger">Remove</a>');
                        var $panelFooter = $('<div class="panel-footer"></div>').append($removeButton);
                        $removeButton.click(function (e) {
                            e.preventDefault();
                            $(e.target).parents('.panel').slideUp(1000, function () {
                                $(this).remove();
                            })
                        });
                        $panel.append($panelFooter);
                    }

                    function addColumn ($panel) {
                        var $newColumn = $('<a href="#" class="btn btn-success">Nova Coluna</a>');
                        var $panelFooter = $('<div class="panel-footer"></div>').append($newColumn);
                        $newColumn.click(function (e) {
                            addNewForm()
                        });
                        $panel.append($panelFooter);
                    }



                    function addNewForm() {
                        console.log('botao')
                        var prototype = $collectionHolder.data('prototype');
                        var index = $collectionHolder.data('index');
                        var newForm = prototype;
                        newForm = newForm.replace(/__name__/g, index);
                        $collectionHolder.data('index', index+1);
                        var $panel = $('<div class="panel panel-warning"><div class="panel-heading"></div></div>');
                        var $panelBody = $('<div class="panel-body"></div>').append(newForm);
                        $panel.append($panelBody);
                        addRemoveButton($panel);
                        $addNewItem.before($panel);
                    }









        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
