<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            {% block body %}{% endblock %}
        </div>

         <script
                src="https://code.jquery.com/jquery-2.2.4.min.js"
                integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
                crossorigin="anonymous"></script>


        <script>

    /**
    btn remove = 1 pra cada coluna
    btn addColumn = apenas 1 no form

    */
                    var $collectionHolder;

                    $(document).ready(function () {
                        $collectionHolder = $('#coluna_list');
                        $collectionHolder.find('.panel').each(function () {
                            footerBtns($(this));
                        });
                    });

                    function footerBtns($this){
                        var $panelFooter = $('<div class="panel-footer"></div>');

                        var $btnRemoveColumn = $('<a href="#" class="btn btn-danger">Remove</a>');
                        var $btnAddColumn = $('<a href="#" class="btn btn-success">Nova Coluna</a>');
                        var $espaçoBtn = $('<a href="#"> </a>');

                        $panelFooter.append($btnRemoveColumn)
                        $panelFooter.append($espaçoBtn)
                        $panelFooter.append($btnAddColumn)

                        $btnAddColumn.click(function (e) {
                            newColumn()
                        });

                        $btnRemoveColumn.click(function (e) {
                            deleteColumn($(this), e)
                        });

                        $this.append($panelFooter)
                    }

                    function newColumn() {
                        var prototype = $collectionHolder.data('prototype');
                        console.log(prototype)


                        var index = $collectionHolder.data('index');
                        console.log(index)
                        /*
                        var newForm = prototype;
                        newForm = newForm.replace(/__name__/g, index);
                        $collectionHolder.data('index', index+1);
                        var $panel = $('<div class="panel panel-warning"><div class="panel-heading"></div></div>');
                        var $panelBody = $('<div class="panel-body"></div>').append(newForm);
                        $panel.append($panelBody);
                        addRemoveButton($panel);
                        $addNewItem.before($panel);
                    */
                    }

                    function deleteColumn ($panel, e) {
                        e.preventDefault();
                        $(e.target).parents('.panel').slideUp(1000, function () {
                            panel.remove();
                        })
                    }






        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
