{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <ul class="tabelas">
            {% for tabela in form.tabelas %}
                <div class="panel panel-danger "> {# VERMELHO #}
                    <div class="panel-heading">
                        <h3>Tabela </h3>
                    </div>
                    <div class="panel-body">
                        {{ form_row(tabela) }}
                    </div>

                    {# ========= coluna ========= #}
                    <ul class="colunas">
                        {% for coluna in tabela.colunas %}
                            <div class="panel panel-primary ">
                                <div class="panel-heading">
                                    <h3>Coluna </h3>
                                </div>
                                <div class="panel-body">
                                    {{ form_row(coluna) }}
                                </div>
                            </div>
                        {% endfor %}
                    </ul>
                    {# ========= end coluna ========= #}

                    {{ form_end(form) }}
                </div>{# VERMELHO #}
            {% endfor %}
        </ul>
    </div>
{%  endblock %}