{% extends 'base.html.twig' %}
    {% block body %}
    <ul class="tabelas">
        <div class="panel panel-danger "> {# VERMELHO #}
            <div class="panel-heading">
                <h3>Tabela </h3>
            </div>
            <div class="panel-body">
                {{ form_start(form) }}
                {{ form_row(form.nome) }}
            </div>
                {# ========= coluna ========= #}
                <ul class="colunas">
                    {% for coluna in form.colunas %}
                        <div class="panel panel-primary ">
                            <div class="panel-heading">
                                <h3>Coluna </h3>
                            </div>
                            <div class="panel-body">
                                {{ form_row(coluna) }}
                            </div>
                        </div>
                    {% endfor %}
                </ul>
                {# ========= end coluna ========= #}

            {{ form_end(form) }}
        </div>{# VERMELHO #}
    </ul>

{%  endblock %}